Repository ApacheEcho/RouteForceRouting: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, algorithms, monitoring, api

codecov.yml:

# Codecov configuration for RouteForce Routing
coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    default:
      target: 80%
      threshold: 1%

comment:
  layout: "condensed_header, diff, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  hide_project_coverage: true
  branches:
    - "main"
    - "develop"

ignore:
  - "tests/*"
  - "test_*.py"
  - "*_test.py"
  - "conftest.py"
  - "setup.py"
  - "docs/*"
  - "scripts/*"
  - "*.md"
  - "migrations/*"
  - "venv/*"
  - ".venv/*"
  - "__pycache__/*"
  - "*.pyc"
  - ".git/*"
  - ".github/*"
  - "logs/*"
  - "temp/*"
  - "build/*"
  - "dist/*"

flags:
  unit:
    paths:
      - app/
  integration:
    paths:
      - app/routes/
      - app/services/
  algorithms:
    paths:
      - app/algorithms/
      - app/optimization/
  monitoring:
    paths:
      - app/monitoring/
  api:
    paths:
      - app/routes/

Add CodeQL Swift/iOS workflow for security analysis
  .coverage
  .coverage.Franklins-MacBook-Air.local.6094.XbSypQyx.c
  .github/workflows/ci.yml
  .github/workflows/codeql-swift.yml
  codecov.yml
Due: none

Fix orphaned code and parse error by wrapping in handleFileUpload function
  static/js/dashboard.js
Due: none

Refactor error handling to provide generic internal error messages across multiple APIs
  .github/workflows/issue-automation.yml
  .github/workflows/pr-automation.yml
  app/advanced_dashboard_api.py
  app/api/traffic.py
  app/monitoring_api.py
  app/routes/api.py
  app/routes/enhanced_dashboard.py
  app/routes/main.py
  app/routes/main_enhanced.py
  audit-missing-tokens.py
  backup_deployment/api/traffic.py
Due: unit, integration, api

Add routing engine documentation, OpenAPI generation and validation scripts, and comprehensive route scoring tests
  .coverage
  .coverage.Franklins-MacBook-Air.local.39869.XjsVlQqx.c
  .github/workflows/ci.yml
  .github/workflows/codeql-swift.yml
  .github/workflows/openapi-validate.yml
  .pre-commit-config.yaml
  app.py
  app/__init__.py
  app/advanced_dashboard_api.py
  app/api/analytics.py
  app/api/mobile.py
  app/api/traffic.py
  app/api/voice.py
  app/auth_decorators.py
  app/claude_integration.py
  app/config.py
  app/monitoring/__init__.py
  app/optimization/multi_objective.py
  app/routes/api.py
  app/routes/enhanced_dashboard.py
  app/routes/scoring.py
  app/services/enhanced_external_api.py
  app/services/geocoding_service.py
  app/services/route_scoring_service.py
  app/services/routing_service_unified.py
  openapi.json
  routing/README.md
  scripts/generate_openapi.py
  scripts/validate_openapi.py
  tests/conftest.py
  unit/test_route_scorer_comprehensive.py
Due: unit, integration, algorithms, monitoring, api

Add mobile API response schemas and update OpenAPI definitions for scoring and mobile routes
  app/__init__.py
  app/api/mobile.py
  app/routes/scoring.py
  openapi.json
Due: unit, integration, api

chore: remove mcp-server files from repo
  mcp-server/README.md
  mcp-server/package.json
  mcp-server/src/filesystem.ts
  mcp-server/src/index.ts
  mcp-server/start-filesystem-server.sh
Due: none
